@import "../abstracts/mixins";
@import "../abstracts/variables";

.text {
  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-light {
    font-weight: 300;
  }

  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-semibold {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-m {

    font-size: 17px;
    line-height: 1.28;
    color: $primaryColor;
  }

  &-l {
    font-size: 20px;
    line-height: 1.25;
    color: $primaryColor;;
  }

  &-xl {
    @include fontSize(35, 50);
    line-height: 1.25;
  }
}

.heading-font {
  font-family: 'Lighthaus', serif;
  letter-spacing: 2.5px;
}


.icon-arrow-left:before {
  content: "\e904";
}

.icon-arrow-right:before {
  content: "\e905";
}

.icon-ar-right:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-whatsapp:before {
  content: "\e903";
}